* {
    font-family: 'Red Hat Text';
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Red Hat Display';
}

header {
    background-image: url(../assets/wavy-header.png);
    background-position: center;
    height: 441.5px;
    padding-top: 70px;
    color: #FFF;

}

.header-wordmark {
    width: 495px;
}

.header-subtitle {
    font-size: 21px;
}

@media only screen and (max-width: 860px) {
    header {
        background-position: -300px top;
        background-size: 1400px;
        background-repeat: no-repeat;
        height: 300px;
        padding-top: 55px;
    }
    .header-wordmark {
        width: 360px;
    }
}

@media only screen and (max-width: 520px) {
    header {
        background-image: url('../assets/rectangle-header.png');
        background-size: cover;
        padding: 60px 0;
        height: auto;
        } 
}

.row > section {
    border: 1px dashed blue;
}

/* Footer */
footer {
    background: linear-gradient(45deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0)),
                url('../assets/footer-background.png') center -8rem;
    background-size: cover;
}

@media only screen and (max-width: 845px) {
    footer {
        /* Stops background-image from resizing on smaller screens */
        background-size: 1000px; 
    }
}

/* "The LaSallian" Bold Text in Footer and Icons */
footer strong, footer .nav-item i {
    color: #003300;
}

/* TLS Star in Footer */
.footer-logo {
    width: 78px;
}