:root {
    --red: #B42828;
    --light-red: #FBEEEE;
    --light-red-hover: #F3D9D9;
    --blue: #16538B;
    --light-blue: #EBF6FF;
    --light-blue-hover: #D4E7F5;
    --yellow: #C28024;
    --light-yellow: #FFF3E2;
    --brown: #462C08;
    --green: #003300;
}

* {
    font-family: 'Red Hat Text';
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Red Hat Display';
    font-weight: 600;
}

header {
    background-image: url(../assets/wavy-header.png);
    background-position: center;
    height: 441.5px;
    padding-top: 70px;
    color: #FFF;
}

.header-wordmark {
    width: 495px;
}

.header-subtitle {
    font-size: 1.25em;
}

@media only screen and (max-width: 860px) {
    header {
        background-position: -300px top;
        background-size: 1400px;
        background-repeat: no-repeat;
        height: 300px;
        padding-top: 55px;
    }
    .header-wordmark {
        width: 360px;
    }
}

@media only screen and (max-width: 520px) {
    header {
        background-image: url('../assets/rectangle-header.png');
        background-size: cover;
        padding: 60px 0;
        height: auto;
        margin-bottom: 3rem; 
    } 
}

.row > section { /* Temporary border for guidance */
    border: 1px dashed blue;
}

/* Common Styles for All Sections */
section a { 
    text-decoration: none;
    color: inherit;
}

section a:hover {
    color: inherit;
}

section .card-img {
    object-fit: cover;
}

section .card-title {
    orphans: 2;
}

section .card-text {
    font-size: .9em;
    orphans: 2;
}

section .sec-heading-container .nav-link, .sec-heading-link {
    font-weight: 500; /* Bootstrap has no utility class for semibold */
    font-size: .85em;
}

section .sec-heading-container .nav-link:hover, .sec-heading-link:hover {
    text-decoration: underline;
}

/* Specific Styles for Tweets Section */
#newsbits {
    color: var(--brown);
}

#newsbits > .sec-heading-container {
    border-color: var(--yellow) !important; /* !important added to override default Bootstrap style */
    color: var(--yellow);
}

.tweet-card {
    background-color: var(--light-yellow);
}

@media only screen and (max-width: 991px) {
    .tweets-container {
        overflow-x: scroll;
    }
    .tweet-card {
        min-width: 375px;
    }
}

@media only screen and (min-width: 991px) and (max-width: 1176px) { /* This avoid orphans in the twitter handle when resizing the window */
    .twitter-handle {
        width: 100%;
    }
}

.tweet-card-hdr-text {
    font-family: 'Red Hat Text';
    color: var(--yellow);
    font-weight: 600;
    font-size: .82em;
}

h6.tweet-card-hdr-text { /* @thelasallian */
    font-weight: 400;
}

.tweet-card .tweet-avatar {
    width: 40px;
    height: 40px;
}

.tweet-card .tweet-twitter-logo {
    width: 18px;
    height: 18px;
}

.tweet-card-content {
    font-size: .95em;
}

/* Specific Styles for Articles Section */
#articles {
    color: var(--blue);
}

#articles > .sec-heading-container {
    border-color: var(--blue) !important; /* !important added to override default Bootstrap style */
}

#articles .card {
    background-color: var(--light-blue);
    height: 22rem;
}

#articles .card:hover {
    background-color: var(--light-blue-hover);
}

/* Specific Styles for Highlights Section */
#highlights {
    color: var(--red);
}

#highlights .card {
    background-color: var(--light-red);
}

#highlights .card:hover {
    background-color: var(--light-red-hover);
}

#highlights > .sec-heading-container {
    border-color: var(--red) !important; /* !important added to override default Bootstrap style */
}

#highlights > .sec-heading-container .nav-link {
    color: var(--red); /* To override default Bootstrap style */
}

#highlights > .sec-heading-container .nav-link.active {
    color: var(--red); /* To override default Bootstrap style */
    background-color: #fff; /* To override default Bootstrap style */
    text-decoration: underline;
}

#highlights .card-img {
    height: 8rem;
}

#highlights #pills-senator .highlight-img {
    object-position: bottom; /* To elevate senators' busts in the frame */
}

/* Footer */
footer {
    background: linear-gradient(45deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0)),
                url('../assets/footer-background.png') center -8rem;
    background-size: cover;
    margin-top: 3rem;
}

@media only screen and (max-width: 845px) {
    footer {
        /* Stops background-image from resizing on smaller screens */
        background-size: 1000px; 
    }
}

/* "The LaSallian" Bold Text in Footer and Icons */
footer strong, footer .nav-item i {
    color: var(--green);
}

/* TLS Star in Footer */
.footer-logo {
    width: 78px;
}